<p id="notice"><%= notice %></p>
      <div class="row ">
      <ul class="breadcrumbs"> 
        <li><%= link_to("All",{controller:"adverts"},:class=>"bready") %></li>
        <li><%= link_to("Community",{controller:"adverts",category:"Community"},:class=>"bready") %></li>
        <li><%= link_to("Events",{controller:"adverts",category:"Events"},:class=>"bready") %></li>
        <li><%= link_to("Jobs",{controller:"adverts",category:"Jobs"},:class=>"bready") %></li>
        <li><%= link_to("Property",{controller:"adverts",category:"Property"},:class=>"bready") %></li>
        <li><%= link_to("Services",{controller:"adverts",category:"Services"},:class=>"bready") %></li>
        <li><%= link_to("Trades",{controller:"adverts",category:"Trades"},:class=>"bready") %></li>
        <li><%= link_to("Deals",{controller:"adverts",category:"Deals"},:class=>"bready") %></li>
      </ul>
      </div>
      <% @adverts.each do |advert| %>
      <div class="row">
        <div class="large-2 medium-2 columns">
          <a href="#"> <span> </span><%= image_tag(advert.image.url(:thumb),:class=>"round",style:"border-radius:50%") %></a>
        </div>
        <div class="medium-10 large-10 columns">
          <h3> <%= advert.title %> </h3>
          <p> <%= advert.body %> </p>
          <p> <b> Email: </b> <%= advert.email %> </p>
        </div>
      </div>
      <% advert.comments.all.each do |comment| %>
      <div class="row"> 
       
        <div class="medium-3 large-3 columns left"> 
          <h5> From: <%= comment.name %> </h5>
        </div>
        <div class="medium-7 large-7 columns left">
          <p> <i>"<%= comment.message%>"</i> </p>
        </div>
       </div>
      <% end %>
       <div class="row">
         <div class=" large-12 columns">
            <a href="#" data-reveal-id="myModal<%=advert.id%>"><button class=" button radius large-12 columns advert-button primary"> Comment</button></a>
          </div>
        </div> 

<div id="myModal<%=advert.id%>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Comment</h2>
  <p class="lead">Had a bad experiance? or a great one, let us know below!</p>
           <%= form_for(advert.comments.new) do |f| %> 
               <%= f.label(:name) %>
               <%= f.text_field(:name) %>
<hr>
               <%= f.label("Comments") %>
               <%= f.text_area(:message) %>
               <%= f.hidden_field(:advert_id) %>
               <%= f.submit "Post Comment", :class=>"button radius primary" %>
           <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
        <hr>
      <% end %>
      </div>
