<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @advert.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @advert.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @advert.category %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
