<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Whats Looking - Richmonds Free Advertising Site" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<script>

</script>
  </head>
  <body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    
    <div class="logo">
      <%= image_tag('whats_looking.png') %>
    </div>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><%= link_to("Home",:adverts) %></li>
      <li class="divider"></li>
      <li class=""><%= link_to("Advertise",:new_advert) %></li>
      <li class="divider"></li>
      <li class=""><%= link_to("Contact", :new_contact) %></li>
    </ul>
    <ul class="social-icons">
      <li><a href=""><i class="fi-telephone"></i></a></li>
      <li><a href=""><i class="fi-social-linkedin"></i></a></li>
      <li><a href=""><i class="fi-social-twitter"></i></a></li>
      <li><a href=""><i class="fi-social-facebook"></i></a></li>
    </ul>
  </section>
</nav>
    <%= yield %>

  </body>
</html>
